---
const brands = [
  {
    name: "BFGOODRICH",
    imageUrl: "/images/brands/bf-goodrich.webp",
  },
  {
    name: "MICHELIN",
    imageUrl: "/images/brands/michelin.webp",
  },
  {
    name: "CONTINENTAL",
    imageUrl: "/images/brands/continental.webp",
  },
  {
    name: "PIRELLI",
    imageUrl: "/images/brands/pirelli.webp",
  },
  {
    name: "KUMHO TYRE",
    imageUrl: "/images/brands/kumho-tyre.webp",
  },
  {
    name: "DUNLOP",
    imageUrl: "/images/brands/dunlop.webp",
  },
  {
    name: "BRIDGESTONE",
    imageUrl: "/images/brands/bridgestone.webp",
  },
  {
    name: "YOKOHAMA",
    imageUrl: "/images/brands/yokohama.webp",
  },
  {
    name: "GOODYEAR",
    imageUrl: "/images/brands/good-year.webp",
  },
  {
    name: "HANKOOK",
    imageUrl: "/images/brands/hankook.webp",
  },
  {
    name: "FIRESTONE",
    imageUrl: "/images/brands/firestone.webp",
  },
  {
    name: "GENERAL TIRE",
    imageUrl: "/images/brands/general-tire.webp",
  },
  {
    name: "NEXEN TIRE",
    imageUrl: "/images/brands/nexen-tire.webp",
  },
  {
    name: "OVATION TIRES",
    imageUrl: "/images/brands/ovation-tires.webp",
  },
];
---

<div class="brands-wrapper">
  <div class="brands-wrapper__container">
    <ul class="brands-list">
      {
        brands.map((brand) => (
          <li class="brands-list__item">
            <img src={brand.imageUrl} alt={brand.name} />
          </li>
        ))
      }
    </ul>
  </div>
  <div class="brands-wrapper__container">
    <ul class="brands-list">
      {
        brands.map((brand) => (
          <li class="brands-list__item">
            <img src={brand.imageUrl} alt={brand.name} />
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .brands-wrapper {
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;

    &:hover .brands-list {
      animation-play-state: paused;
    }

    &__container {
      display: inline-block;
      margin-left: 1em;
    }
  }

  .brands-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    max-width: 100%;
    animation: 30s slide infinite linear;

    &__item {
      background: #fff;
      border-radius: 1em;
      padding: 0.2em 1em;
      display: flex;
      place-items: center;

      img {
        width: 8em;
        margin: auto;
        object-fit: contain;
      }
    }
  }
</style>
