---
import { Title } from "../../components/";
---

<section>
  <Title title="Nuestra">Ubicación</Title>

  <article>
    <iframe
      title="Nuestra ubicación"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3901.4416231609!2d-77.0192628!3d-12.0818902!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9f22e209ed1%3A0xd30e4eb73614fbee!2sMultillantas%20MF!5e0!3m2!1ses-419!2spe!4v1713918514497!5m2!1ses-419!2spe"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </article>
</section>

<style lang="scss">
  section {
    article {
      max-width: 750px;
      margin: auto;

      iframe {
        border: 5px solid var(--color-primary);
        border-radius: 1em;
        width: 100%;
        max-width: 750px;
        height: 410px;
        @media (max-width: 576px) {
          max-width: 100%;
        }
      }
    }
  }
</style>
