---
import { ViewTransitions } from "astro:transitions";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import { ButtonFloating } from "../components";
import '@fontsource-variable/noto-sans-georgian';

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}

const {
  title = "Multillantas MF Peru",
  description = "En Multillantas MF Peru, ofrecemos una variedad de neumáticos para que encuentres el ideal para tu vehículo, sin importar tu presupuesto o el tipo de auto que tengas. Estamos aquí para ayudarte a elegir la mejor opción.",
  keywords = "venta de llantas,venta llanta, llantas de auto, llantas precios, llantas en lima, ofertas de llantas, venta de neumaticos, promociones de llantas, neumáticos para autos, llantas para autos precios, llantas aro, llantas aro 15, lima caucho, dunlop tires, continental, michelin, hankook, continental, pirelli, yokohama, goodyear, tires, falken, bridgestone, firestone, sumitomo, triangle, westlake, gt radial, aeolus, delinte, federal, general tire, kumho tire, nexen tires, toyo tires",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <div class="general-wrapper">
      <Header />
      <div class="main">
        <slot />
      </div>
      <ButtonFloating
        type="whatsapp"
        href="https://api.whatsapp.com/send/?phone=51900959965&text=Hola%2C%20vengo%20de%20mifanllantas.com%20%C2%BFPodr%C3%ADan%20brindarme%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20llantas%3F"
      />
      <Footer />
    </div>
    <style is:global lang="scss">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Noto Sans Georgian Variable', sans-serif;
      }

      :root {
        --color-primary: #fef102;
        --color-primary-hover: rgba(255, 242, 0, 0.267);
        --color-secondary: #0c0009;
        --color-tertiary: #211f20;
        --color-light-gray: #768290;
        --color-dark-gray: #222222;
        --color-white: #ffffff;

        --background-whatsapp: #5cc753;
      }

      html {
        background: rgb(5, 5, 5);
        color: #fff;
      }

      body {
        margin: 0;
        font-size: 16px;
      }

      .general-wrapper {
        max-width: 1530px;
        margin: auto;
        position: relative;
        background-color: var(--color-tertiary);
      }

      .main {
        width: 100%;
        height: auto;
      }
    </style>
  </body>
</html>
