---
import Icon from "astro-icon";
import { IconFontAwesome } from "../components";
import Drawer from "./Drawer";
---

<header id="header-item" class="header-general">
  <div class="header-wrapper">
    <div class="top-header">
      <div class="img-logo">
        <a href="/" rel="noopener noreferrer"
          ><img
            src="../logo.webp"
            alt="logo hankook alvillanta"
            width="200px"
          /></a
        >
        <Drawer client:visible>
          <div class="item-menu-button">
            <IconFontAwesome
              width="30px"
              path="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </div>
        </Drawer>
      </div>
      <div class="contact-info">
        <ul>
          <li>
            <div>
              <a href="" class="anchor-icon">
                <Icon class="icon" pack="mdi" name="headphones" size={19} />
                Call Center
              </a>
            </div>
            <div>
              <span>(01) 751 0557</span>
            </div>
          </li>
          <li>
            <div>
              <a href="" class="anchor-icon">
                <Icon class="icon" pack="mdi" name="phone" size={19} />
                Ventas
              </a>
            </div>
            <div>
              <span> +51 900 959 965</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="item-menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about-us">Nosotros</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>

<style lang="scss">
  //MOBILE AND TABLET
  .header-general {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    justify-content: space-between;
    .header-wrapper {
      width: 100%;
    }

    .top-header {
      background: url("../../images/bg-header-2.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom right;

      .img-logo {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em;
        img {
          width: 7em;
          height: auto;
          object-fit: contain;
        }

        .item-menu-button {
          padding: 0.5em 0.7em;
          background: #fff;
          color: #000;
        }
      }

      .contact-info {
        padding: 0.5em 1em;
        background: #fff;
        @media (min-width: 970px) {
          background: transparent;
        }
      }

      .anchor-icon {
        .icon {
          color: #f1ef0d;
        }
      }

      ul {
        display: flex;
        gap: 1em;
        list-style: none;
        padding: 0;
        margin: 0;
      }

      span,
      a {
        color: black;
        text-decoration: auto;
      }
    }

    .item-menu {
      display: none;
    }
  }

  //DESKTOP
  @media (min-width: 920px) {
    .header-general {
      position: relative;
      background: white;
      top: 0;
      z-index: 700;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1530px;
      margin: auto;

      .img-logo {
        display: initial;

        img {
          width: 11em;
          height: auto;
          object-fit: contain;
        }

        .item-menu-button {
          display: none;
        }
      }

      .top-header {
        display: flex;
        justify-content: space-between;
        padding: 1em;

        .img-logo {
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            width: 10em;
            height: auto;
            object-fit: contain;
          }
        }

        ul {
          display: flex;
          gap: 1em;
          li {
            background: #fff;
            padding: 0.3em 3em;
            clip-path: polygon(8% 0, 100% 0%, 93% 100%, 0% 100%);
            .anchor-icon {
              .icon {
                color: #131313;
              }
            }
            span,
            a {
              color: black;
              text-decoration: auto;
            }
          }
        }
      }

      .item-menu {
        padding: 1em;
        width: 100%;
        display: flex;
        background: #141414;
        justify-content: start;
        gap: 2em;
        font-size: 1em;
        font-weight: 500;

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 2em;

          li a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
</style>
