---
import Icon from "astro-icon";

interface Props {
  type: "whatsapp" | "call";
  href: string;
}

const { type, href } = Astro.props;
---

<div class=`btn ${type}`>
  <a href={href} target="_blank" rel="noreferrer" class="btn__icon">
    {
      type === "whatsapp" ? (
        <Icon pack="mdi" name="whatsapp" size={50} />
      ) : type === "call" ? (
        <Icon pack="mdi" name="call" size={50} />
      ) : (
        ""
      )
    }
  </a>
</div>

<style lang="scss">
  .btn {
    position: fixed;
    left: 1em;
    z-index: 998;
    text-decoration: none;
    border-radius: 50%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &__icon {
      border: none;
      height: 4.5em;
      width: 4.5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .call {
    background-color: var(--color-secondary);
    bottom: 10rem;
    animation-name: call;

    &:hover {
      box-shadow:
        0 0 2px var(--color-secondary),
        0 0 7px var(--color-secondary),
        0 0 12px var(--color-secondary),
        0 0 22px var(--color-secondary);
    }

    @keyframes call {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }

    .btn__icon {
      color: var(--color-primary);
    }
  }

  .whatsapp {
    background-color: var(--background-whatsapp);
    bottom: 4rem;
    animation-name: whatsapp;

    &:hover {
      box-shadow:
        0 0 2px var(--background-whatsapp),
        0 0 7px var(--background-whatsapp),
        0 0 12px var(--background-whatsapp),
        0 0 22px var(--background-whatsapp);
    }

    @keyframes whatsapp {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }

    .btn__icon {
      color: #fff;
    }
  }
</style>
