---
import Icon from "astro-icon";

interface Props {
  type: "whatsapp" | "call";
  href: string;
}

const { type, href } = Astro.props;
---

<div class=`btn ${type}`>
  <a href={href} target="_blank" rel="noreferrer" class="btn__icon">
    <div class="btn__text">
      <p>Servicio whatsapp</p>
      <p>975096790</p>
    </div>
    {
      type === "whatsapp" ? (
        <Icon pack="mdi" name="whatsapp" size={50} />
      ) : type === "call" ? (
        <Icon pack="mdi" name="call" size={50} />
      ) : (
        ""
      )
    }
  </a>
</div>

<style lang="scss">
  .btn {
    position: fixed;
    left: 0;
    z-index: 998;
    text-decoration: none;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

    &__text {
      p:last-child {
        text-align: center;
        font-size: 1.4em;
      }
    }

    &__icon {
      text-decoration: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em;
    }
  }

  .call {
    background-color: var(--color-secondary);
    bottom: 10rem;
    animation-name: call;

    &:hover {
      box-shadow:
        0 0 2px var(--color-secondary),
        0 0 7px var(--color-secondary),
        0 0 12px var(--color-secondary),
        0 0 22px var(--color-secondary);
    }

    .btn__icon {
      color: var(--color-primary);
    }
  }

  .whatsapp {
    background-color: var(--background-whatsapp);
    bottom: 4rem;
    animation-name: whatsapp;

    &:hover {
      box-shadow:
        0 0 2px var(--background-whatsapp),
        0 0 7px var(--background-whatsapp),
        0 0 12px var(--background-whatsapp),
        0 0 22px var(--background-whatsapp);
    }

    .btn__icon {
      color: #fff;
    }
  }
</style>
