---
import Icon from "astro-icon";

interface Props {
  type: "whatsapp" | "call";
  href: string;
}

const { type, href } = Astro.props;
---

<div class=`btn ${type}`>
  <a href={href} target="_blank" rel="noreferrer" class="btn__icon">
    {
      type === "whatsapp" ? (
        <Icon pack="mdi" name="whatsapp" size={50} />
      ) : type === "call" ? (
        <Icon pack="mdi" name="call" size={50} />
      ) : (
        ""
      )
    }
  </a>
</div>

<style lang="scss">
  .btn {
    position: fixed;
    left: 1em;
    z-index: 998;
    text-decoration: none;
    border-radius: 50%;

    &__icon {
      border: none;
      height: 4.5em;
      width: 4.5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .whatsapp {
    background-color: var(--background-whatsapp);
    bottom: 20rem;
    .btn__icon {
      color: #fff;
    }
  }

  .call {
    background-color: var(--color-secondary);
    bottom: 30rem;
    .btn__icon {
      color: var(--color-primary);
    }
  }
</style>
